body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background: linear-gradient(90deg, rgb(128, 255, 211), rgb(88, 255, 233), rgb(69, 216, 255), rgb(62, 197, 255), rgb(70, 178, 234));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}
